package main

import (
	"context"
	"github.com/redpanda-data/benthos/v4/public/service"

{{ range .Packages }}	_ "{{.}}"
{{ end -}}
)

func main() {
	service.RunCLI(context.Background(),
		service.CLIOptSetBinaryName("wombat go"),
		service.CLIOptSetProductName("Wombat"),
		service.CLIOptSetVersion("{{.BenthosVersion}}", "{{.DateBuilt}}"))
}