---
title: HTTP
---
import { Aside } from '@astrojs/starlight/components';
import { Tabs, TabItem } from '@astrojs/starlight/components';

The schema of the `http` section is as follows:

{{template "field_docs" . -}}
