---
title: Unit Testing
---
import { Aside } from '@astrojs/starlight/components';
import { Tabs, TabItem } from '@astrojs/starlight/components';

The schema of a template file is as follows:

{{template "field_docs" . -}}
